.logo{
    font-size: 100px;
}
#navlinks{
    border: 1px solid red;
    margin-left: 50%;
    padding: 1%;
}
.nav-item{
    margin-left: 15%;
}
#div1{
    display: flex;
    border: 2px solid black;
}
.navigate{
    border: 1px solid green;
    width: 100%;
    height: 50px;
}